.sort-icon {
  font-size: 25px;
  cursor: pointer;
}

.unsorted {
  display: none;
}

.sorted {
  display: inline-block;
  color: #f6003c;
}

.sort-column:hover .sort-icon{
  display: inline-block;
}

.head-icon {
  font-size: 20px;
  margin-right: 8px;
}